    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
        {% assign pages = site.pages | where: 'category', 'Menu' %}
        {% for page in pages %}
          {% if page.menu %}
            <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.menu }}</a>
          {% endif %}
        {% endfor %}
        </nav>
      </div>
    </div>
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">