<div class="col-md-3 col-s-2 left-nav" >
  <div class="sidebar-module">
    <a href="http://neherp.com"><img src="/assets/nehs-logo.gif" class="img img-fluid" alt="NEHS Logo" /></a>
    <p>Contact Us: neherp@neherp.com</p>
  </div>
  <div class="sidebar-module">
  <a href="http://massreptileexpo.com"><img src="/assets/expo.gif" class="img img-fluid" alt="Massreptileexpo.com Logo" /></a>
    <a href="http://massreptileexpo.com"><h5>Mass Reptile Expo</h5></a>
    <p>Sunday, Sept 25th, 2016</p>
  </div>  
</div>
